/* tr:nth-child(even) {
    background-color: #D6EEEE;
  } */

.complete {
   
    text-decoration:line-through;
    color:grey;
}

.urgent {
    background-color: rgb(232, 91, 91);
}

.pending {
 
    text-decoration:none;
}

tr td:nth-child(2) {
    text-align: center;
}



tr:hover {
    background-color: #77f4ca;
}

.completeButton {
    text-align: center;
    color: lightgreen;
}