/* tr:nth-child(even) {
    background-color: #D6EEEE;
  } */

.complete {
   
    text-decoration:line-through;
}

.urgent {
    background-color:rgb(239, 79, 79);
}

.pending {
 
    text-decoration:none;
}



tr:hover {
    background-color: #77f4ca;
}